<h1>New project</h1>

<%= form_for @project, :url => projects_path do |f| %>
  <div><%= f.label :title %></div>
  <div><%= f.text_field :title %></div>

  <div><%= f.label :description %></div>
  <div><%= f.text_area :description %></div>

  <div><%= f.submit %></div>
<% end %>
